BasedOnStyle: Google
Language: Cpp

IndentWidth: 4
UseTab: Never

PointerAlignment: Left
ReferenceAlignment: Left

ColumnLimit: 680
AlignArrayOfStructures: Left

BreakBeforeBinaryOperators: None
PenaltyBreakAssignment: 1000
PenaltyBreakBeforeFirstCallParameter: 1000
AlignOperands: DontAlign
AllowShortBlocksOnASingleLine: Always

BreakBeforeBraces: Attach
BraceWrapping:
  AfterControlStatement: false
  AfterFunction: false
  AfterNamespace: false
  AfterClass: false
  AfterStruct: false
  AfterEnum: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: false

AllowAllParametersOfDeclarationOnNextLine: false
BinPackParameters: true
SortIncludes: false

KeepEmptyLinesAtTheStartOfBlocks: false