[submodule "Include/ImGuiColorTextEdit"]
	path = Include/ImGuiColorTextEdit
	url = https://github.com/luis605/ImGuiColorTextEdit.git
[submodule "Include/NodeEditor"]
	path = Include/NodeEditor
	url = https://github.com/thedmd/imgui-node-editor
[submodule "Include/imgui"]
	path = Include/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "Include/nlohmann"]
	path = Include/nlohmann
	url = https://github.com/nlohmann/json.git
[submodule "Include/meshoptimizer"]
	path = Include/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
[submodule "Include/pybind11"]
	path = Include/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "Include/ffmpeg"]
	path = Include/ffmpeg
	url = https://github.com/FFmpeg/FFmpeg.git
[submodule "Include/bullet3"]
	path = Include/bullet3
	url = https://github.com/bulletphysics/bullet3.git
[submodule "Include/glm"]
	path = Include/glm
	url = https://github.com/g-truc/glm.git
[submodule "Include/raylib"]
	path = Include/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "Include/stduuid"]
	path = Include/stduuid
	url = https://github.com/mariusbancila/stduuid.git
[submodule "Include/squish"]
	path = Include/squish
	url = https://github.com/tito/libsquish
