.vscode
*.exe
*.out
*.ini
callgrind.out.*
exported_game/
NodeEditor.json
*.o
*CMakeCache.txt
build/
profiled/
analysis.txt
install/bin/
project/
gmon.out
# executable:
LitEngine
project.json
./project*
.profile/
.editorconfig
screenshot*git commit -a -m "Updated icons && Added Chromatic Aberration && Enhanced 