.vscode
*.exe
*.out
*.ini
*.o
*.a
*CMakeCache.txt
build/include/
build/.cmake/
build/build.ninja
build/CMakeCache.txt
build/cmake_install.cmake
build/compile_commands.json
build/Makefile
build/CMakeFiles/
